[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/islab-theme"]
        path = content/themes/islab
        url = https://github.com/duyetdev/islab-theme.git
